@use 'base/variables' as v;
@use 'base/mixins' as m;

.about {
    padding: 5rem 0;

    &__heading {
        @include m.heading;
    }

    &__grid {
        @include m.grid(3, 2rem);
    }

    &__box {
        text-align: center;
    }

    &__image {
        margin: 0 auto;
    }

    &__name {
        min-height: 5.5rem;
    }

}