@use 'base/variables' as v;
@use 'base/mixins' as m;

.lessons {
    background-color: v.$gray;
    padding: 5rem 0;

    &__heading {
        @include m.heading;
    }

    &__grid {
        @include m.tablet { 
            @include m.grid(2, 2rem);
        }

        @include m.desktop { 
            @include m.grid(3, 2rem);
        }
    }

}

.lesson {
    border: 1px solid darken(v.$gray, 10%);
    background-color: v.$white;

    &__meta {
        background-color: v.$primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        color: v.$white;
    }

    &__price {
        background-color: v.$secundary;
        padding: .5rem;
        font-size: 1.3rem;
        font-weight: 700;
        color: v.$black;
        border-radius: 0.5rem;
    }
    
    &__content {
        padding: 2rem;
    }

    &__description {
        color: v.$primary;
    }

    &__link {
        @include m.boton(v.$primary, v.$white);
        display: block;
        font-size: 1.6rem;
        padding: 1rem;
    }
    
}